section {
    background-image: url(/imgs/estresperros.jpg);
}

header {
    background-image: -moz-linear-gradient(left, #FFFFFF, #000000);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.00, #FFFFFF), color-stop(1.0, #000000));
    background-color: #DDDDDD;
    
    color: #888888;
}

footer {
    background-image: -moz-linear-gradient(left, #FFFFFF, #000000);
background-image: -webkit-gradient(linear, left top, right top, color-stop(0.00, #FFFFFF), color-stop(1.0, #000000));
background-color: #DDDDDD;
color: #888888;


}